.card {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  max-width: 353px;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  color: #212121;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn_active {
  background-image: url(../images/like-btn.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition-duration: 0.5s;
}
.card__delete-btn {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  background-image: url(../images/delete-btn.svg);
  right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  
}

.card__delete-btn:hover {
  opacity: 0.7;
  transition-duration: 0.3s;
  background-image: url(../images/delete-hover.svg);
}

@media screen and (max-width: 628px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    max-width: 235px;
  }
}
