.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  margin: 0;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  color: #212121;
  background-color: transparent;
  opacity: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
  max-width: 169px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121;
  opacity: 70%;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
  font-size: 20px;
}

.modal__submit-btn {
  max-width: 156px;
  height: 52px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.modal__submit-btn:hover {
  cursor: pointer;
}

.modal__image-container {
  position: relative;
  

}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  line-height: 100%;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #212121;
  background-color: #212121;
  position: absolute;
  padding: 4px 8px 4px 8px;
  margin: 12px 0;
  }

.modal__close-btn_type_preview {
  top: 0;
  right: -52.5px;
  filter: invert(100%);
  position: absolute;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%; 
}

@media screen and (max-width: 627px) {
 .modal__close-btn_type_preview {
  right: 0;
  top: -48px;
 }
}

@media screen and (max-width: 480px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    padding: 12px;
  }

  .modal__submit-btn {
    max-width: none;
  }

}

@media screen and (max-width: 627px) {
 .modal__close-btn_type_preview {
  right: 0;
  top: -48px;
 }

 .modal__image {
  max-width: unset;
 }
}
