.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  line-height: 100%;
  font-size: 16px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  opacity: 0.7;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  width: 133px;
  height: 18px;
  line-height: 100%;
  font-weight: 500;
  color: #212121;
  display: flex;
  gap: 9px;
  opacity: 0.7;
  font-size: 16px;
  padding: 0;
}

.profile__add-btn {
  margin-left: auto;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  font-size: 16px;
  font-weight: 500;
}

.profile__edit-btn:hover {
  opacity: 1;
  cursor: pointer;
  transition-duration: 0.5s;
}

.profile__add-btn:hover {
  opacity: 0.8;
  cursor: pointer;
  transition-duration: 0.5s;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
